@font-face {
  font-family: "Titillium Web";
  src: url(../../assets/fonts/TitilliumWeb-Regular.ttf) format("TrueType");
  font-weight: 400;
}
@font-face {
  font-family: "Titillium Web";
  src: url(../../assets/fonts/TitilliumWeb-SemiBold.ttf) format("TrueType");
  font-weight: 600;
}
