@font-face {
  font-family: "YanoneKaffeesatz";
  src: url(../../assets/fonts/YanoneKaffeesatz-Bold.ttf) format("TrueType");
  font-weight: 700;
}
@font-face {
  font-family: "YanoneKaffeesatz";
  src: url(../../assets/fonts/YanoneKaffeesatz-Regular.ttf) format("TrueType");
  font-weight: 400;
}
@font-face {
  font-family: "YanoneKaffeesatz";
  src: url(../../assets/fonts/YanoneKaffeesatz-Light.ttf) format("TrueType");
  font-weight: 300;
}
