// 1 BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// COLOR VARIABLES
// 1 PRIMARY - ORANGES
$Sombl-Orange-Dark: #ff7e33;
$Sombl-Orange-Mid: #ffa570;
$Sombl-Orange-Light: #ffd8c2;

// 2 SECONDARY - BLUES
$Sombl-Purple-Dark: #5736fc;
$Sombl-Purple-Mid: #8972fe;
$Sombl-Purple-Light: #bcaffe;

// 3 OTHER
$Sombl-Black: #110308;
$Sombl-White: #ffffff;
$Sombl-Grey: #363030;
