// 1 BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// 2 CREATE COLOR VARIABLES

// 1 PRIMARY COLORS
$Sombl: orange;

// 2 SECONDARY COLOR

// 3 BACKGROUND COLORS

// 4 SUPPORTING COLORS
