@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $Sombl-White;
}

main {
  flex-grow: 1;
}

.year-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Sombl-Orange-Mid;
}

.year-input {
  background-color: $Sombl-Black;
  color: $Sombl-White;
  border: none;
  border-radius: 2rem;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.increment-button {
  border: $Sombl-Orange-Mid;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 1rem;
  margin: 0.3rem 1rem 0 1rem;
  padding: 0 1rem;
  color: $Sombl-Black;
  background-color: $Sombl-Orange-Mid;
  transition: 0.1s ease-out;
  &:hover {
    background-color: $Sombl-Orange-Light;
  }
  &:active {
    background-color: $Sombl-Black;
    color: $Sombl-White;
    transform: scale(0.9);
  }
}

.sub-nav {
  background-color: $Sombl-Orange-Mid;
  width: 100%;
  min-height: 100px;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.month {
  background-color: $Sombl-Orange-Mid;
  color: $Sombl-Black;
  font-size: 2rem;

  margin: 0rem;
  border: $Sombl-Orange-Mid 1px solid;
  border-radius: 3rem;
  transition: 0.1s ease-out;

  &:hover {
    border-radius: 3rem;
    background-color: $Sombl-Orange-Light;
  }
  &:active {
    background-color: $Sombl-Orange-Dark;
    color: $Sombl-White;
    transform: scale(0.7);
  }
}

.month-active {
  background-color: $Sombl-Black;
  color: $Sombl-White;
  &:hover {
    background-color: $Sombl-Black;
    color: $Sombl-White;
  }
}
