@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/resets" as *;

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;

  &__text {
    color: $Sombl-Grey;
    font-size: 1rem;
    font-weight: 400;
  }
}
